@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Space+Grotesk:wght@400;500;600;700&display=swap");

@import "tailwindcss";

:root{

--bg:#050505;
--surface:#0d0d0d;

--text:#ffffff;

--muted:#A1A1AA;

--purple:#8B5CF6;

}

body{

font-family:"Inter",sans-serif;

background:var(--bg);

color:white;

overflow-x:hidden;

}

h1,h2,h3,h4{

font-family:"Space Grotesk",sans-serif;

font-weight:700;

letter-spacing:-2px;

}

p{

font-size:18px;

line-height:1.8;

color:#A1A1AA;

}

html{

scroll-behavior:smooth;

}
